<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZANDO Officail Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css">
    <link rel="icon" type="image/png" sizes="77x77" href="../assets/Icon/favicon_zando.png">
</head>
<body>
<header class="header">
    <div class="navbar">
        <!-- Left -->
        <div class="nav-left">
            <ul class="menu">
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">MEN</a></li>
                <li><a href="#">KIDS</a></li>
                <li><a href="#">Z.HOME</a></li>
                <li><a href="#">LIFESTYLE</a></li>
            </ul>
        </div>
    
        <!-- Center -->
        <div class="nav-center">
            <img src="../assets/images/zando_logo.png" alt="Logo">
        </div>
    
        <!-- Right -->
        <div class="nav-right">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>
    
            <div class="icons">
                <i class="fa-regular fa-bell"></i>
                <i class="fa-regular fa-heart"></i>
                <div class="shopping">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <p class="count">0</p>
                </div>
            </div>
    
            <div class="account">
                <a href="#">LOGIN</a>
                <a href="#">REGISTER</a>
            </div>
        </div>
    </div>
</header>
<section class="hero">
    <!-- Banner -->
    <div class="banner">
        <div class="image_banner">
            <img src="../assets/images/banner.png" alt="banner">
        </div>
        <div class="btnBanner">
            <button>MEN</button>
            <button>WOMEN</button>
        </div>
    </div>
    <!-- Logo Brand -->
    <div class="brandLogo">
        <div class="allBrand">
            <div>
                <img src="../assets/Icon/zando.png" alt="Zando">
            </div>
            <div>
                <img src="../assets/Icon/ten11.png" alt="Ten11">
            </div>
            <div>
                <img src="../assets/Icon/routine.png" alt="Routine">
            </div>
            <div>
                <img src="../assets/Icon/tagspace.png" alt="TageSpace">
            </div>
            <div>
                <img src="../assets/Icon/361.png" alt="361">
            </div>
            <div>
                <img src="../assets/Icon/Pomelo.png" alt="Pomelo">
            </div>
        </div>
    </div>
    <!-- Poster -->
    <div class="poster">
        <div class="posters">
            <img src="../assets/images/poster1.png" alt="">
            <img src="../assets/images/poster2.png" alt="">
            <img src="../assets/images/poster3.png" alt="">
            <img src="../assets/images/poster4.png" alt="">
        </div>
    </div>
        <!-- Produts card -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img1.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $15.26</p>
                            <del>US $17.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>CLOUD WHISPER BUBBLE CAMI TOP</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/image2.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $9.85</p>
                            <del>US $11.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>99 PROBLEMS FITTED BABY TEE</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/image3.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $17.81</p>
                            <del>US $20.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>DEVOTUS RICH SPORT CREW SWEATE...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/image4.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $20.36</p>
                            <del>US $23.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>LAYER SCRIPT LONG SLEEVEP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Accessories -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-20%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/belt.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $15.16</p>
                            <del>US $18.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Classic Automatic Buckle Belt</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/wallet.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $8.46</p>
                            <del>US $9.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>GIAN SAIGON LEATHER CARD HOLDE</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-20%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/cap.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $6.07</p>
                            <del>US $7.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Cap With Embroidery</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-50%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/necktie.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.3</p>
                            <del>US $4.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Neck Tie</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bag  -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-50%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/bag1.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $19.98</p>
                            <del>US $39.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Suede Tote Bag</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/bag2.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $30.25</p>
                            <del>US $35.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>SPOILED BUCKLE HANDLE BAG</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/bag3.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $26.85</p>
                            <del>US $31.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>SPOILED D TRAVEL BAG</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/bag4.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $25.46</p>
                            <del>US $29.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>SPOILED LONG TOP HANDLE BOX BAG</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Discover toys -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/toys1.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.34</p>
                            <del>US $2.75</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Sport Keychain Set</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/toys2.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.20</p>
                            <del>US $2.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Lunch Box</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/calulator.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.25</p>
                            <del>US $2.69</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Calculator</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/toys3.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $4.25</p>
                            <del>US $5.00</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Building Blocks Surprise Egg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product list -->
    <div class="products">
        <div class="productList">
            <div class="productList1">
                <img src="../assets/images/newin.png" alt="">
                <img src="../assets/images/sportlife.png" alt="">
                <img src="../assets/images/smartcasual.png" alt="">
            </div>
            <div class="productList2">
                <img src="../assets/images/beauty.png" alt="">
                <img src="../assets/images/softliving.png" alt="">
                <img src="../assets/images/shoes.png" alt="">
            </div>
        </div>
    </div>
    <!-- Item Recomment -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-19.57%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/image1.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $5.59</p>
                            <del>US $6.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Essential Slim-Fit Baby Tee</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-20%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img2.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $10.07</p>
                            <del>US $12.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Sweet Bow Gingham Tube Top</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-25%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img3.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $14.96</p>
                            <del>US $19.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Classic Striped Knit Polo Shirt</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-20%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img4.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $19.16</p>
                            <del>US $23.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Embroidered Half-Zip Polo Sweatshirt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Accessories -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-20%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img5.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $15.16</p>
                            <del>US $18.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Classic Automatic Buckle Belt</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img6.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $8.46</p>
                            <del>US $9.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>GIAN SAIGON LEATHER CARD HOLDE</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-20%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img7.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $6.07</p>
                            <del>US $7.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Cap With Embroidery</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-50%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img8.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.3</p>
                            <del>US $4.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Neck Tie</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bag  -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-50%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img9.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $19.98</p>
                            <del>US $39.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Suede Tote Bag</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img10.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $30.25</p>
                            <del>US $35.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>SPOILED BUCKLE HANDLE BAG</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img11.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $26.85</p>
                            <del>US $31.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>SPOILED D TRAVEL BAG</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img12.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $25.46</p>
                            <del>US $29.95</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>SPOILED LONG TOP HANDLE BOX BAG</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Discover toys -->
    <div class="recom">
        <div class="note">
            <p class="capi">Recomment For You</p>
            <p class="uper">see more</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img13.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.34</p>
                            <del>US $2.75</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Sport Keychain Set</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img14.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.20</p>
                            <del>US $2.59</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Lunch Box</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img15.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $2.25</p>
                            <del>US $2.69</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Calculator</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dis">
                    <p>-15%</p>
                </div>
                <div class="image_card">
                    <img src="../assets/images/img16.png" alt="">
                </div>
                <div class="title">
                    <div class="mainPrice">
                        <div class="price">
                            <p>US $4.25</p>
                            <del>US $5.00</del>
                        </div>
                        <div><i class="fa-regular fa-heart"></i></div>
                    </div>
                    <div class="cardIfo">
                        <p>Building Blocks Surprise Egg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
