*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 560px;
    margin: 40px;
    border: 2px solid black;
    padding: 10px;
}
header p{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
}
nav{
    background-color: chartreuse;
    color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
}
main{
    display: flex;
    height: 180px;
}
aside{
    width: 30%;
    background-color: green;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 70%;
    display: flex;
    flex-direction: column;
}
article{
    flex: 1;
    background: brown;
    color: white;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    flex: 1;
    background-color: cadetblue;
    color: white;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
}